$black: #000;
$white: #fff;

$regularFont: 'OpenSansRegular', 'Arial', sans-serif;
$white: #fff;
$main-bgc-color: #005b9f;
$black: black;
$black: #000;
$white: #fff;

$regularFont: 'OpenSansRegular', 'Arial', sans-serif;
$boldFont: 'OpenSansBold', 'Arial', sans-serif;

// Base colors
$color-brand: #005b9f;
$color-base: #fcfcfc;
$color-text: #1a1a1a;

$color-fade: #161618;

$color-error: #e0603f;
$color-success: #2fad4c;
$color-info: #006fc2;

$transition-speed: 0.25s;

$black: #000;
$white: #fff;
$main-bgc-color: #005b9f;
$mainFont: 'Open Sans', sans-serif;
$button-cours-color: #0095cc;
$button-cours-coloro-hover: #037ba7;
$search-color: #00305f;
$border-color: #e6e7e8;
$text-color-news: #97999c;
$data-news-color: #0f65a2;
$border-news-color: #a49ec7;
$youtube-color:#fe0000;
$certificate-color: #cdcfd0