@mixin absolutePosition($tp,$bm,$lf,$rh) {
	position: absolute;
	bottom: $bm;
	top: $tp;
	left: $lf;
	right: $rh;
}
@mixin flexAlign() {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
@mixin flexItem(){
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}